*{
    box-sizing: border-box;
    margin: 0px;
}

.pagina-pokemon{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(90.09deg, #9A99C6 20.79%, #C699B2 99.93%);

}

.cab{
    display: flex;
    flex-direction: column;
    margin-top: 0vh;
    background: linear-gradient(90.09deg, #9A99C6 20.79%, #C699B2 99.93%);
    align-items: center;
    justify-content: center;

}

.btn{
    background: rgba(119, 96, 203, 1);
    padding: 15px 20px;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 30px;
}

.lista{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2vh !important;
}

.img1{
    height: 150px;
    width: 150px;
    margin-left: 0vh;
    background: rgba(255, 255, 255, 0.15);


}

.t1{
    font-size: 18px;
    background: none !important;
    color: #000;
    margin: 0px;
}

.t2{
    font-size: 12px;
    margin: 0px;
}


.lista{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-right: 1vh;
    width: 140vh;
    margin-left: 30vh;
    margin-top: 10vh;
    gap:20px;
}

.card-pokemon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(149, 206, 196, 1);
    width: 30vh;
    height: 30vh;
    border-radius: 20px;
    text-align: center;
}


.buscar-mais{
    margin-left: 90vh;
    margin-top: 1vh;
}
