.pagina-app{
    display: flex;
    flex-direction: column;
    background-color: azure;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.app{
    display: flex;
    flex-direction:column;
}


.é{
    margin-top: 10vh;
    margin-bottom: 10vh;
}